:root{
    --day: linear-gradient(140deg,#FADB7E,#FF9E0C);
    --night : linear-gradient(140deg,#7CD1E6,#5F5DC8);
}
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
}
.container{
    display: flex;
    width: 800px;
    height: 400px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.103);
    border-radius: 25px;
    color: white;
}

.left{
    position: relative;
    background-image:var(--night);
    border-radius: 25px 0px 0px 25px;
    width: 35%;
    padding: 20px;
}
.upper-info h2{
    font-weight: 300;
    font-size: 25px;
}
.upper-info p{
    font-size: 15px;
    font-weight: 100;
}
.bottom-info{
    position: absolute;
    bottom: 20px;
}
.bottom-info img{
    width: 100px;
    margin-bottom: 10px;
}
.bottom-info h2{
    font-size: 60px;
}
.bottom-info p{
    font-size: 20px;
    font-weight: 100;
}
.right{
    position: relative;
    width: 65%;
    text-align: center;
    color: black;
    padding: 20px;
}
.right h2{
    font-size: 50Px;
}
.right .info{
    text-align: left;
}

.info{
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
}

.info .col{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
    gap: 100px;
}
.light-text{
    color: rgb(90, 90, 90);
}
.location{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}
.location button{
    width: 250px;
    color: white;
    border-radius: 8px;
    border: none;
    background-image:var(--night);
    padding: 15px;
    cursor: pointer;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.8);
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.103);
    padding: 20px;
    width: 400px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 120ms ease-out;
}
.show-modal{
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
    visibility: visible;
}
.modal h4{
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 100;
}
.modal input ,.error input{
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background-color: #ECECEC;
    border: none;
    border-radius: 8px;
}
.modal input:focus , .error input:focus{
    background-color:#e2e2e2 ;
    outline: none;
}
.modal button,.error button{
    position: absolute;
    right: 10px;
    top: 30px;
    color: white;
    background-color: #42B2CF;
    padding: 6px;
    width: 80px;
    border: none;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}
.modal .inputs,.error{
    position: relative;
}
.modal .close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.error button{
    top: 58px;
}
.error{
    display: none;
  }

.load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
  }
  .load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
  }
  .load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
  }
  .line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
  }

  .load-3{
      display: none;
  }
  @keyframes loadingC {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
@media screen and (max-width:800px){
    .container{
        position: static;
        border-radius: 0;
        position: static;
        display: block;
        box-shadow: none;
        height: 100%;
    }
    .left{
        width: 100%;
        height: 300px;
        border-radius: 0;
        display: block;
        z-index: -1;
    }
    .upper-info,.bottom-info{
        position:static;
        display: block;
    }
    .air-info-img{
        display: none;
    }
    .right{
        position: static;
        width: 90%;
        background-color: white;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.11);
        border-radius: 20px;
        display: block;
        margin: 0 auto;
        margin-top: -100px;
        z-index: 10;
    }
    .modal{
        width: 90%;
    }
    .right .city-name{
        font-size: clamp(20px,10vw,50px);
    }
    .location{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .location button{
        width: 80%;
    }
    .col{
        justify-content: space-between !important;
        margin: 0;
        padding: 0 20px 0 20px;
        gap: 0 !important;
    }
    .col p{
        font-size: clamp(10px, 3vw,15px);
    }
    .info{
        width: 100%;
    }
}